# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma

# Large source video files
public/Assets/4k-thunderstorm-with-lightning-bolts-2025-12-17-04-18-08-utc.mp4
public/Assets/thunder-2025-12-17-05-27-52-utc.mov
public/Assets/upsidedown-waterfall-near-famous-trolltunga-cliff-2025-12-17-22-08-34-utc.mov
